body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #282c34;
}
canvas {
    background-color: #ffffff;
    border: 1px solid black;
    background-image: url("kepek/castleBackground.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.settings-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    z-index: 10;
}
.settings-menu {
    position: absolute;
    top: 50px;
    right: 10px;
    background-image: url("kepek/beallit.gif");
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 300px;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: none;
    z-index: 10;
}
.settings-menu label {
    display: block;
    margin-bottom: 10px;
}
.settings-menu input[type="range"] {
    width: 100%;
}
.settings-menu button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background-color: rebeccapurple;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.settings-menu button:hover {
    background-color: white;
}
@media (max-width: 600px) {
    .circle-button {
        width: 120px;
        height: 120px;
        font-size: 16px;
    }
    .settings-menu {
        width: 200px;
    }
}